* {
  box-sizing: border-box;
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_0_0.eot);
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_0_0.eot?#iefix) format("embedded-opentype"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_0_0.woff) format("woff"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_0_0.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_1_0.eot);
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_1_0.eot?#iefix) format("embedded-opentype"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_1_0.woff) format("woff"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_1_0.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_2_0.eot);
  src: url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_2_0.eot?#iefix) format("embedded-opentype"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_2_0.woff) format("woff"),
       url(https://assets-cdn.mytaste.org/fonts/proximanova/latin/2A019B_2_0.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  /* Think this is cool! Only works in Edge FF & Safari */
  /* Safari handle this best when it comes to resizeing the window... */
  -webkit-scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;

  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;

  margin: 0;
  font-family: "Proxima Nova";
  font-weight: 100;

  /* Make so that when clicking on anchor link scrolls smoothly to the target */
  scroll-behavior: smooth; /* Only works in FF? */

  background: #fbf8ff;
}


html, body, .hero-fullscreen {
  height: 100%;
}

.hero-halfscreen {
  height: 50%;
}

.hero {
  background: no-repeat center;
  background-size: cover;
  text-align: center;
}

button, html, input, select, textarea {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1,h2,h3 {
  font-weight: 100;
  /*font-size: 6.2vw;*/
}


h1 {
  font-weight: 400;
}

.arrow {
  color: #44c200;
  text-decoration: none;
}

.arrow:after {
  content: url('../img/go-to-arrow.svg');
  display: inline-block;
  padding-left: 4px;
  transition: all .2s ease-in-out;
  transform-origin: 60% 45%;
}

.arrow:hover:after {
  content: url('../img/go-to-arrow.svg');
  display: inline-block;
  transform: rotate(180deg);
}

#scroll-down {
  color: #999;
  fill: currentColor;
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 5.4rem;
  height: 5.4rem;
  padding: 1.65rem 1.3rem;
  margin-top: 3rem;
}


button {
    border: 1px solid #44c200;
    background: #44c200;
    color: #fff;
    border-radius: 3px;
    padding: .625em 2.5em;
    text-align: center;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    padding: 17px 40px 17px 80px;
}

button:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(https://assets-cdn.mytaste.org/img/plugin/chrome_logo-40x40.png) no-repeat 0 0 transparent;
    margin: 0 auto 10px;
}

/*@media (max-width: 240px) {
  .flex-grid {
     flex-direction: column;
  }

  .flex-grid .hero {
     order: 0;
  }

  .hero-halfscreen {
    height: 100%;
  }
}*/
